<div class="navbar sticky-top" id="menu-bar">
    <div class="container">
        <div class="dm" id="phone">
            <i class="fas fa-phone"></i>
            <p>&nbsp0587607250</p>
        </div>
        <p>|</p>
        <div class="dm" id="clock">
            <i class="far fa-clock"></i>
            <p>&nbsp8h-20h</p>
        </div>
        <p>|</p>
        <div class="sc">
            <div class="name-shop">
                <p>HoangThuongShop</p>
            </div>
        </div>
        <p>|</p>
        <div class="dm" id="email">
            <i class="far fa-envelope"></i>
            <p>&nbspducthanh426282@gmai.com</p>
        </div>
    </div>
</div>;
