<link rel="stylesheet" href="/user/register.css">
<div class="contact-us">
    <form name="formRegister" method="POST" action="#">
        <input placeholder="Full name" required="" name="fullName" type="text" />
        <input name="username" placeholder="Username" type="text" required/>
        <input
            name="phone"
            placeholder="Phone"
            type="tel"
            required
        />
        <input type="password" placeholder="Password" name="password" required/>
        <input type="password" placeholder="Repeat password" name="rePassword" required/>
        <button type="submit">SIGN UP</button>
        <br>
        <p id="navigation-login">Have already account? <a href="/user/login" id="nav-login">Login</a></p>
    </form>
</div>
<script>
    const form = document.forms['formRegister'];
    form.addEventListener('submit', function(e){
        e.preventDefault();
        const fullName = form.fullName.value;
        const username = form.username.value;
        const phone = form.phone.value;
        const password = form.password.value;
        const rePassword = form.rePassword.value;

        const xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState === 4) {
            if (this.status === 200) {
                const response = JSON.parse(this.responseText);

                if(response.success){
                    Swal.fire({
                        title: 'Notify',
                        text: response.message,
                        icon: 'success'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "/";
                        }
                    })
                } else {
                    Swal.fire({
                        title: 'Notify',
                        text: response.message,
                        icon: 'error'
                    })
                }
            } else {
                console.log(this.status);
            }
        }
    };
    xhttp.open('POST', '/user/checkRegister', true);
    xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xhttp.send(`username=${encodeURIComponent(username)}&password=${encodeURIComponent(password)}&phone=${encodeURIComponent(phone)}&fullName=${encodeURIComponent(fullName)}&rePassword=${encodeURIComponent(rePassword)}`);
    })
</script>
